.Bookstore {
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: 90vh;
  background-color: var(--background-color);
  box-shadow: 40px 40px 113px -24px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 40px 40px 113px -24px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 40px 40px 113px -24px rgba(0, 0, 0, 0.1);
}
