.Bookstore {
  display: flex;
  flex-direction: column;
  width: 90vw;
  min-height: 90vh;
  max-height: max-content;
  background-color: var(--background-color);
  box-shadow: 40px 40px 113px -24px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 40px 40px 113px -24px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 40px 40px 113px -24px rgba(0, 0, 0, 0.1);
}

@media (max-width: 680px), screen and (orientation: portrait) {
  .Bookstore {
    overflow: auto;
    min-height: auto;
    max-height: 100%;
  }
}
