.DisplayBooks {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 2rem 0.5rem;
  gap: 1.5rem;
  background-color: var(--background-color);
}

.empty {
  padding: 7rem 0.5rem;
}

@media (max-width: 680px), screen and (orientation: portrait) {
  .DisplayBooks {
    flex-wrap: nowrap;
  }
}
